div.chatBox {
}

ul.messageList {
  height: 300px;
  width: 200px;
  overflow-y: scroll;
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0.25rem;
}

li.message {
  margin: 0;
}

li.message h5 {
  margin: 0;
  padding: 0.3rem 0;
}

li.message p {
  font-size: 0.8rem;
}