@import "bootstrap";

.navbar-brand {
	padding: 9px 0 0 5px;
	text-indent: -9999em;
	.logo {
		background-image: url(../images/logo.png);
		background-size: 206px 32px;
		background-repeat: no-repeat;
		width: 206px;
		height: 32px;
	}
}

.navbar-nav {
	font-size: $font-size-large;
}

.jumbotron {
	background: #fff;
	margin-top: 6em;
	h1 {
		font-size: 50px;
		text-align: center;
	}
	.button-container {
		text-align: center;
		margin-top: 4em;
	}
}

.btn-primary {
	&:hover {
		background: $brand-primary;
		color: #fff;
		border-color: $brand-primary;
	}
}
