@import "variables";
@import "mixins";

.contain-to-grid {
	background: #fff;
}

.top-bar {
	background: #fff;
	height: $header-height;
	.title-area {
		margin-top: $logo-margin-top;
		width: $logo-width;
		height: $logo-height;
		background-image: url(../images/logo.png);
		background-repeat: no-repeat;
		background-size: $logo-width $logo-height;
		.name {
			text-indent: -9999em;
		}
	}
	.top-bar-section {
		ul {
			height: 100% !important;
			li {
				background: #fff;
				&>a {
					background: #fff !important;
					color: $off-black;
					font-size: 1.1em;
					&:hover {
						color: $off-black;
					}
				}
			}
		}
	}
}

.jumbotron {
	padding: 4em 0;
	text-align: center;
	h1, h2, h3 {
		margin: 2em 0;
	}
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color: $brand-secondary;
}

footer {
	height: $header-height;
	margin-top: 13em !important;
	.copyright {
		display: inline-block;
		margin-top: 0.8em;
	}
	.social-container {
		float: right;
		display: inline-block;
		margin-top: 0.7em;
		.social-block {
			display: inline-block;
			margin-left: 0.5em;
			width: 30px;
			height: 30px;
			text-align: center;
			font-size: 1.3em;
			background-color: $brand-primary;
			color: #fff;
			&:hover {
				@include transition(0.4s);
				background-color: $brand-secondary;
			}
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

