.stroke {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

.fill {
  fill: black;
}

.graticule {
  fill: none;
  stroke: white;
  // stroke-width
  // stroke-opacity
}

.land {
  fill: black;
}

.boundary {
  fill: none;
  stroke: white;
}