@import "variables";

.stroke {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.fill {
  fill: $light-grey;
}

.graticule {
  fill: none;
  stroke: black;
}

.land {
  fill: $light-grey;
}

.boundary {
  fill: none;
  stroke: white;
}

// div#map {
//   position: fixed;
//   z-index: -100;
// }