<div class="jumbotron row">
	<h3>Context is a real-time chat platform for interacting with other users currently browsing the same web page. It unifies web commenting on a single platform and on a live basis. The Context platform is site agnostic - it will work on any page on the Internet.</h3>
	<a href="#" class="button large">Download</a>
</div>