<div class="icon-bar four-up">
  <a class="item" href="/dev/errors">
    <i class="fa fa-bug"></i>
  </a>
  <a class="item" href="/dev/errors/complete">
    <i class="fa fa-check"></i>
  </a>
  <a class="item" href="/dev/errors/all">
    <i class="fa fa-crosshairs"></i>
  </a>
  <a class="item" href="/dev/stats">
    <i class="fa fa-pie-chart"></i>
  </a>
</div>
<div class="container">
  <%= erb :_error_table, locals: {errors: @errors} %>
</div>
