<div class="container">
  <table>
    <tr>
      <th>URL</th>
      <th>Description</th>
      <th>User</th>
      <th>Resolved?</th>
    </tr>
  <% @errors.each do |e|%>
    <tr>
      <td><%= e.url %></td>
      <td><%= e.description %></td>
      <td><%= e.user %></td>
      <td>
        <form>
        <% if e.resolved? %>
          <input type="checkbox" value="resolved?" checked/>
        <% else %>
          <input type="checkbox" value="resolved?"/>
        <% end %>
        </form>
      </td>
    </tr>
  <% end %>
</table>
</div>
