
<div id="map">
</div>


<script type="text/javascript" src="/js/world_mercator.js"></script>
<!-- <div class="jumbotron row">
	<h1>Talk to people. In real-time. On any site.</h1>
	<a href="#" class="button large">Download</a>
</div> -->
