<div class="jumbotron">
	<div class="container">
		<h1>Talk to people. In real-time. On any site.</h1>
		<div class="button-container"><a class="btn btn-primary btn-lg" role="button">Download</a></div>
	</div>
</div>
