<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Context</title>
  <link rel="stylesheet" type="text/css" href="/css/map.css">
  <script type="text/javascript" src="/js/vendor/jquery-2.1.1.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script type="text/javascript" src="/js/vendor/d3.js"></script>
  <script type="text/javascript" src="/js/vendor/chance.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>