<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Context</title>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/application.css">
  <script src="javascripts/jquery-2.1.1.min.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/"><div class="logo">Context</div></a>
		    </div>

	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/about">About</a></li>
	      </ul>
		  </div><!-- /.container-fluid -->
		</nav>
	</header>
  <%= yield %>
</body>
</html>