<!DOCTYPE html>
<html lang="en">
<head>
  <title>Context Dev</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/dev.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <script type="text/javascript" src="/js/vendor/jquery-2.1.1.min.js"></script>
   <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
</head>
<body>
  <%= yield %>
  <script type="text/javascript" src="/js/dev.js"></script>
</body>
</html>