/*#context-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  border-left: 2px solid #222;
  width: 350px;
  z-index: 2147483647;
}*/

.settingsButton {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.3rem;
  z-index: 100;
}