@import "variables";
@import "mixins";

* {  
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: $font-family-sans-serif;
}

.titleBar {
	position: fixed;
	top: 0;
	background-color: #fff;
	width: 100%;
	height: $header-height;
	border-bottom: 1px solid $light-grey;
	.logo {
		width: 200px;
		height: 31px;
		background-image: url(../icons/logo.png);
		background-repeat: no-repeat;
		margin: 8px 0 0 8px;
	}
}

#status {
	margin-top: $header-height;
}

.chatBox {
	width: 100%;
	height: 100%;
}

.messageList {
	list-style: none;
	padding-left: 0;
	width: 100%;
  margin-bottom: 2rem;
  overflow: scroll;
	.message {
		width: 100%;
		border-top: 1px solid $lighter-grey;
		padding: 0.4em 8px;
		.messageAuthor {
			color: $brand-primary;
		}
		.messageContent {
			display: inline;
		}
	}
}

.chatInput {
	position: fixed;
	bottom: 0;
	width: 100%;
  border-left: 0;
  border-right: 0;
	input {
    border-left: 0;
    border-right: 0;
		position: inline-block;
		float: left;
		font-size: $button-font-size;
		padding: 0.3em;
		height: 2em;
		outline: none;
		&[type=text] {
			width: 80%;
		}
		&[type=submit] {
			width: 20%;
			background: $brand-primary;
  		color: #fff;
  		border: 0;
		}
	}
}

i.settingsButton {
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px;
  z-index: 100;
  color: $light-grey;

  &:hover {
    @include transition(0.4s);
    color: $dark-grey;
  }
}

div.settingsPanel {
  width: 100%;
  position: fixed;
  top: $header-height;
  right: 0;
  background-color: #fff;
  height: 30px;
  border-bottom: 1px solid $light-grey;

  div.button {
    width: 50%;
    display: inline-block;
    text-align: center;
    font-family: $font-family-sans-serif;
    font-size: $button-font-size;
    padding: 0.3rem;
    color: $dark-grey;

    &:hover {
      @include transition(0.4s);
      color: $brand-secondary;
    }
  }
}

div.userAuth, div.chatBox {
  margin-top: $header-height;
}

// html, body, div.App, div.userAuth, div.chatBox {
//   min-height: 100%;
//   position: relative;
//   height: 100%;
// }

div.loginForm, div.registerForm {
  margin: 0 auto;
  padding-top: 1rem;
  font-size: $button-font-size;

    input, button {
      padding: 0.3rem;
      display: block;
      width: 80%;
      margin: 0.3rem 10%;
      color: $grey;
      background-color: white;
    }

    input[type="submit"] {
      border: 0;
      background-color: $light-grey;
      color: white;
      &:hover {
        @include transition(0.4s);
        background-color: $brand-secondary;
      }
    }

    button {
      color: $light-grey;
      border: 1px solid $light-grey;
      &:hover {
        @include transition(0.4s);
        background-color: $brand-secondary;
        color: white;
      }
    }
}

div.content {
  position: fixed;
  top: 0;
  right: 0;
}

